
:css
  .debug {padding-top:20px }

#enter-code

  .row
    =simple_form_for(@house, :html => {:class => 'form-horizontal'} ) do |f|
    
      .span6

        .row.text-center
          %h2 Your beehouse
          %p.text-info 
            %strong
              Rearrange the tubes by colour to match your house, 
              %br
              then indicate what covering each tube has.
              %br

        .row.text-center
          .tubes

            -@house.tubes.each_with_index do |tube, i|
              %div{:class =>"tube #{tube.colour_code} pos_#{i}"}
                %div{:class =>"material #{tube.bee_code}"}
            
      .span6  
        .row
          .bees
          
            .span3
              %h4 Leafcutter bee
              %img{:src => '/assets/leaf.png'}
              %img{:src => '/assets/leafcutter.jpg'}
            .span3
              %h4 Mason bee
              %img{:src => '/assets/mud.png'}
              %img{:src => '/assets/mason.jpg'}
            
        .row.text-center

          - if notification = f.error_notification
            .alert.alert-error
              <a class="close" data-dismiss="alert" href="#">&times;</a>
              = notification 
          
          =f.input :email, 
                   :label => "Your email *", 
                   :wrapper => :bootstrap, 
                   :placeholder => "e.g. me@gmail.com",
                   :input_html => {:class => "input-medium" }
          =f.input :postcode, 
                   :label => "Your postcode *", 
                   :wrapper => :bootstrap, 
                   :placeholder => "e.g. AA1 1AA",
                   :input_html => {:class => "input-medium" }
          =f.input :accepted_terms,
                   :label => "Agree to terms *", 
                   :wrapper => :bootstrap
          =f.submit 'Submit', :class => 'btn btn-primary'
          
  
  .row.dbug.text-center
  
    %p
      %strong Debugging information
    %p 
      Organisation: 
      %em
        = @house.product.brand.name
    %p 
      Product:
      %em
        =@house.product.name
